node_modules/
dist/
.env
backend/.env
backend/dist/
backend/node_modules/
config.json
*.log
.DS_Store
.vscode/
.idea/
*.apk
*.aab
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/
android/CordovaLib/
